@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans);
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Serif);
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700');

body { font-family: 'IBM Plex Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif; }
h1, h2, h3 {
  font-family: 'IBM Plex Sans';
  font-weight: normal;
}
.remark-code, .remark-inline-code { font-family: 'IBM Plex Mono', 'Lucida Console', Monaco, monospace; font-size: 70%; color: #301b28; background-color: #ddc5a2;}
